@page "/board"

@rendermode RenderMode.InteractiveAuto

@attribute [Route(Shared.Routes.Blazor.Views.BoardView)]

<!-- NOTE: CSS isolation does not work, so using inline -->
<style>

  div.color-white {
    height: 100px;
    width: 100px;
    background-color: #FFFFFF;
  }

  div.color-black {
    height: 100px;
    width: 100px;
    background-color: #B475C2;
  }

  div.color-green {
    height: 100px;
    width: 100px;
    background-color: #11FF11;
  }

  div.color-red {
    height: 100px;
    width: 100px;
    background-color: #FF1111;
  }

  div.board-grid {
    height: 800px;
    width: 800px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 0 auto;
  }

  div.board-row {
    height: 100px;
    width: 800px;
    display: flex;
  }

  button.chess-piece {
    height: 95%;
    width: 95%;

    background: none;
    border: none;
  }

  button.chess-piece>img {
    height: 95%;
    width: 95%;
  }

</style>

<div id="board-gird">
  @for (int y = 0; y < BoardDimensions.Y; ++y)
  {
    <div id="row-@y" class="board-row">
      @for (int x = 0; x < BoardDimensions.X; ++x)
      {
        <div id="column-@x" class="board-column @GetCellColor(x, y)">
          @if (GetPiece(x, y) is not EmptyPiece)
          {
            int tmp_x = x, tmp_y = y;
            <button class="chess-piece" @onclick="() => ReadyMove(tmp_x, tmp_y)">
              <img src="img/pieces/@GetPieceGraphic(x, y)"
                   class="@(selectedPiece == GetPiece(x, y) ? "selected" : "")" />
            </button>
          }
          else if (SquareContainsMove(x, y))
          {
            int tmp_x = x, tmp_y = y;
          }
        </div>
      }
    </div>
  }
</div>

@code {

  IEnumerable<IEnumerable<PieceBase>> BoardPieces = Array.Empty<IEnumerable<PieceBase>>();
  int[,] highlights = new int[8, 8];

  PieceBase? selectedPiece = null;

  (int X, int Y) BoardDimensions = (8, 8);

  [Parameter]
  public required Sets Set { get; set; }

  //NOTE: FEN meaning:                           Board state,whos move,castiling,En passant, Halfmove clock,Fullmove number
  private readonly string _defaultBoardLayout = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";

  protected override async Task OnInitializedAsync()
  {
    BoardPieces = BoardHelpers.FENToBoard(_defaultBoardLayout, Set);

    await InvokeAsync(() => StateHasChanged());
  }

  async Task ReadyMove(int x, int y)
  {
    //NOTE: if you click the same piece, then turn it off
    if (selectedPiece == GetPiece(x, y)) {
      selectedPiece = null;
      highlights = new int[8, 8];

      await InvokeAsync(() => StateHasChanged());

      return;
    }

    selectedPiece = GetPiece(x, y);
    highlights = BoardHelpers.GetPieceMoves(selectedPiece, x, y);

    await InvokeAsync(() => StateHasChanged());
  }

  PieceBase GetPiece(int x, int y)
  {
    return BoardPieces.ElementAt(y).ElementAt(x);
  }

  string GetPieceGraphic(int x, int y)
  {
    PieceBase piece = GetPiece(x, y);
    return BoardHelpers.GetPieceString(piece);
  }

  bool SquareContainsMove(int x, int y)
  {
    throw new NotImplementedException();
  }

  string GetCellColor(int x, int y)
  {
    if (highlights[y,x] is not 0)
      return highlights[y, x] switch {
        1 => "color-green",
        2 => "color-red",
        _ => throw new Exception("Unreachable code"),
      };

    //NOTE: all even (index based) cells must be white, all un-even must be black
    return (x + y) % 2 == 0 ? "color-white" : "color-black";
  }
}
