@page "/"

@inject ITestHubConnection TestHubConn

<button @onclick='@(() => TestHubConn.TestThroughputAsync("Hello"))'>test</button>

<PageTitle>Home</PageTitle>

<h1>Deep Blue</h1>

<Board Set=@Sets.White />
