@page "/savegames"

@rendermode RenderMode.InteractiveAuto

<PageTitle> Save Games </PageTitle>

<h1>Your games</h1>

<div id="save-games">
  <table class="table">
    <thead>
      @foreach (PropertyInfo info in typeof(GameDisplay).GetDisplayProperties())
      {
        <th>@info.GetDisplayName()</th>
      }
      <th>Actions</th>
    </thead>
    <tbody>
      @foreach (GameDisplay game in savedGames)
      {
        var tmp_game = game;
        @foreach (PropertyInfo info in typeof(GameDisplay).GetDisplayProperties())
        {
          <td>@info.GetValue(tmp_game)</td>
        }
        <td>
          <button id="load-savegame" @onclick="() => SelectGame(tmp_game)"></button>
          |
          <button id="delete-savegame" @onclick="() => DeleteGame(game)"></button>
        </td>
      }
    </tbody>
  </table>
</div>

@code {
  IEnumerable<GameDisplay> savedGames = Array.Empty<GameDisplay>();

  protected override async Task OnInitializedAsync()
  {
    savedGames = [ new GameDisplay() ];
    //TODO: get the saved games from this cookie
    await InvokeAsync(() => StateHasChanged());
  }

  void SelectGame(GameDisplay game)
  {
  }

  void DeleteGame(GameDisplay game)
  {
  }
}
